.todoForm{
    display:flex;
    background-color:$listBackColor;
}
.todoForm > input{
    border: 0;
    box-sizing:content-box;
    width:100%;
    font-size:2rem;
    font-family: 'Quick Sand';
    color:$mainColor;
}
.todoForm > input:focus{
    outline: none !important;
    border:2px solid $mainColor;
}
.todoForm > button{
    border: 0;
    background-color: white
}
.icon{
    width:3rem;
    font-size: 2rem;
    color:$mainColor;
}