@import 'checkbox';

.App{
    background-color: rgb(218, 218, 218);
    color:gray;
    max-width:50vw;
    min-width:372px;
    margin:auto;
    padding:0.5rem;
    &__header{
        text-align: center;
    }
    &__footer{
        display: flex;
        flex-direction: row;
    }
}
li{
    list-style: none;
}