@import 'variables';
@import 'checkbox';

.App{
    background-color: $appBackColor;
    color:$mainColor;
    max-width:50vw;
    min-width:372px;
    border-radius:15px;
    margin:auto;
    padding:0.5rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    &__header{
        text-align: center;
    }
    &__footer{
        display: flex;
        flex-direction: row;
        background-color:$listBackColor;
        // border: 0.1rem solid black;
        align-items: center;
    }
    &__footer > *{
        margin-left:1rem;
    }
    &__main,&__footer{
        margin-top:0.2rem;
    }
}
.todoForm{
    display:flex;
    background-color:$listBackColor;
    // border: 0.1rem solid black;
}
.todoForm > input{
    border: 0;
    box-sizing:content-box;
    width:100%;
    font-size:22px;
    color:$mainColor;
}
.todoForm > input:focus{
    outline: none !important;
    border:1px solid $mainColor;
}
.todoForm > button{
    border: 0;
    background-color: white
}
.icon{
    width:3rem;
    font-size: 2rem;
    color:$mainColor;
}
.filter-link{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: $mainColorDesat;
    text-decoration: underline;
    cursor: pointer;
    &--active{
        color: $mainColor;
    }
}
ul{
    padding-left:0;
}
li{
    list-style: none;
    border: 0.1rem solid $mainColor;
    margin-top:0.2rem;
    background-color:$listBackColor;
}