@import 'checkbox';

.App{
    background-color: rgb(218, 218, 218);
    color:gray;
    max-width:50vw;
    min-width:372px;
    margin:auto;
    padding:0.5rem;
    &__header{
        text-align: center;
    }
    &__footer{
        display: flex;
        flex-direction: row;
        background-color:white;
    }
    &__main,&__footer{
        margin-top:0.2rem;
    }

}
ul{
    padding-left:0;
}
li{
    list-style: none;
    border: 0.1rem solid black;
    margin-top:0.2rem;
    background-color:white;
}